{# Must be here to inherit from base template #}
{% extends 'base.html' %}

{# allow loading of static files #}
{% load static %}

{# Anything to add into the <head> tag of the page #}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/project-dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/status-icons.css' %}">

    <!-- Chart.js --><script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="{% static 'js/graphs.js' %}" type="module"></script>

    <title>Data Analytics Dashboard</title>
{% endblock %}

{# Anything to add into the main content of the page #}
{% block content %}
    <section class="central-tight">
        <h1 class="breadcrumb">
            <a href="/analytics/projects">Projects</a> > <b>Project Dashboard</b>
        </h1>

        <section class="burger-layout" style="--border-radius: 2rem; --project-colour: {{ project_colour }}">
            <header class="row" style="border-color: {{ project_colour }}">
                <h2>{{ project_name }}</h2>
                <div>
                    <p>Deadline: <b>{{ project_deadline }}</b></p>
                </div>
                <p class="row-container">
                    Status:
                    {% if project_status == "Overdue" %}
                        <i class="bx bx-alarm-exclamation" title="{{ project_status }}"></i>
                    {% elif project_status == "Complete" %}
                        <i class="bx bx-check-circle" title="{{ project_status }}"></i>
                    {% elif project_status == "Paused" %}
                        <i class="bx bx-pause-circle" title="{{ project_status }}"></i>
                    {% elif project_status == "Ongoing" %}
                        <i class="bx bx-refresh" title="{{ project_status }}"></i>
                    {% elif project_status == "Not Started" %}
                        <i class="bx bx-dots-horizontal-rounded" title="{{ project_status }}"></i>
                    {% endif %}
                </p>
            </header>

            <div class="column-container">
                <h3>Analytics Dashboard:</h3>

                <!-- Graphs Dynamically Loaded via JS -->
                <ol id="graph-list" data-project-id="{{ project_id }}"></ol>
            </div>

        </section>

    </section>

    <!-- Remove Graph Modal -->
    <form id="new-graph-modal" class="modal modal-form">
        <header>
            <h3>Add New Graph</h3>
            <button type="button" class="close-modal"><i class="bx bx-x" title="Close Modal"></i></button>
        </header>

        <!-- Graph Title -->
        <label for="new-input-title">
            <span>Title:</span>
            <input type="text" class="button" id="new-input-title">
        </label>

        <!-- Graph Type -->
        <label for="new-dropdown-type">
            <span>Type:</span>
            <select class="button" id="new-dropdown-type">
                <option value="pie">Pie Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="column">Column Chart</option>
            </select>
        </label>

        <!-- Content Type -->
        <label for="new-dropdown-content">
            <span>Content:</span>
            <select class="button" id="new-dropdown-content">
                <option value="count">Task Count</option>
                <option value="duration">Task Duration</option>
            </select>
        </label>

        <!-- Filter Checkboxes -->
        <div class="row-container filters">
            <p class="formatted-text"><i class="bx bx-filter-alt" title="filters"></i></p>

            <!-- Filter - Completed -->
            <input type="checkbox" id="new-filter-completed"/>
            <label for="new-filter-completed" class="button">Completed</label>

            <!-- Filter - Not Started -->
            <input type="checkbox" id="new-filter-not-started"/>
            <label for="new-filter-not-started" class="button">Not Started</label>

            <!-- Filter - Ongoing -->
            <input type="checkbox" id="new-filter-ongoing"/>
            <label for="new-filter-ongoing" class="button">Ongoing</label>

            <!-- Filter - Overdue -->
            <input type="checkbox" id="new-filter-overdue"/>
            <label for="new-filter-overdue" class="button">Overdue</label>

            <!-- Filter - Paused -->
            <input type="checkbox" id="new-filter-paused"/>
            <label for="new-filter-paused" class="button">Paused</label>
        </div>

        <div class="row-container central-tight">
            <button type="submit" class="button close-modal">Apply Changes</button>
            <button type="button" class="button close-modal">Cancel</button>
        </div>
    </form>

    <!-- Edit Graph Modal -->
    <form id="edit-graph-modal" class="modal modal-form">
        <header>
            <h3>Edit Graph</h3>
            <button type="button" class="close-modal"><i class="bx bx-x" title="Close Modal"></i></button>
        </header>

        <!-- Graph Title -->
        <label for="input-title">
            <span>Title:</span>
            <input type="text" class="button" id="input-title">
        </label>

        <!-- Graph Type -->
        <label for="dropdown-type">
            <span>Type:</span>
            <select class="button" id="dropdown-type">
                <option value="pie">Pie Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="column">Column Chart</option>
            </select>
        </label>

        <!-- Content Type -->
        <label for="dropdown-content">
            <span>Content:</span>
            <select class="button" id="dropdown-content">
                <option value="count">Task Count</option>
                <option value="duration">Task Duration</option>
            </select>
        </label>

        <!-- Filter Checkboxes -->
        <div class="row-container filters">
            <p class="formatted-text"><i class="bx bx-filter-alt" title="Filters"></i></p>

            <!-- Filter - Completed -->
            <input type="checkbox" id="filter-completed"/>
            <label for="filter-completed" class="button">Completed</label>

            <!-- Filter - Not Started -->
            <input type="checkbox" id="filter-not-started"/>
            <label for="filter-not-started" class="button">Not Started</label>

            <!-- Filter - Ongoing -->
            <input type="checkbox" id="filter-ongoing"/>
            <label for="filter-ongoing" class="button">Ongoing</label>

            <!-- Filter - Overdue -->
            <input type="checkbox" id="filter-overdue"/>
            <label for="filter-overdue" class="button">Overdue</label>

            <!-- Filter - Paused -->
            <input type="checkbox" id="filter-paused"/>
            <label for="filter-paused" class="button">Paused</label>
        </div>

        <div class="row-container central-tight">
            <button type="submit" class="button close-modal">Apply Changes</button>
            <button type="button" class="button close-modal">Cancel</button>
        </div>
    </form>

    <!-- Remove Graph Modal -->
    <form id="remove-graph-modal" class="modal modal-form" data-graph-id="">
        <header>
            <h3>Delete Graph?</h3>
            <button type="button" class="close-modal"><i class="bx bx-x" title="Close Modal"></i></button>
        </header>

        <div class="row-container central-tight">
            <button type="submit" class="button close-modal">Delete Graph</button>
            <button type="button" class="button close-modal">Cancel</button>
        </div>
    </form>
{% endblock %}