{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/to-do-list-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum-post-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/status-icons.css' %}">

    <script src="{% static 'js/forum.js' %}" defer></script>

    <title>Data Analytics</title>
{% endblock %}

{% block content %}
    <section class="forum-container">
        <header>
            <h1>Data Analytics</h1>

            <br>

            <div class="search-bar">
                <!-- &#xebf7 -->
                <i class="bx bx-search" id="searchIcon"></i>
                <input type="text" oninput="search()" id="searchText" placeholder="Search Projects">
                <label for="searchText" style="position: absolute;opacity: 0;">Search Projects</label>
            </div>
        </header>

        <section class="results-container">
            <header>
                <h2>Projects List</h2>
                <br>
            </header>

            <ol id="topics" class="results-list">
            {% for project in projects_list %}
                <li class="result-item">
                    <a href="/analytics/dashboard/{{ project.project_id }}">
                        <h3 class="title">{{ project.project_name }}</h3>
                        <div class="bottom">
                            <p> || </p>
                            <p class="timestamp">Deadline: {{ project.project_deadline }}</p>
                            <p> || </p>
                            <p class="comment-count">Progress: {{ project.progress }}%</p>
                            <p> || </p> 
                            <p class="comment-count">No. of Assigned Employees: {{ project.assigned_employee }}</p>
                            <p> || </p>
                            {% if project.project_status == 'Complete'%}
                                <i class="bx bx-check-circle"></i>
                            {% elif project.project_status == 'Not Started'%}
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            {% elif project.project_status == 'Ongoing'%}
                                <i class="bx bx-refresh"></i>
                            {% elif project.project_status == 'Paused'%}
                                <i class="bx bx-pause-circle"></i>
                            {% elif project.project_status == 'Overdue'%}
                                <i class="bx bx-alarm-exclamation"></i>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </section>

        <div id="form-background" class="modal-background" style="display: none">
            <form id="new-topic-form" class="modal-form">
                <header>
                    <h3>Create Topic</h3>
                    <button type="button" id="close-new-topic-form"><i class="bx bx-x"></i></button>
                </header>

                <!-- title -->
                <label for="topic-title-input">Topic Title<br>
                    <input type="text" name="task-title" id="topic-title-input" required>
                </label>

                <!-- description -->
                <label for="topic-desc-input">Topic Description<br>
                    <textarea name="task-desc" id="topic-desc-input" cols="40" rows="10"></textarea>
                </label>

                <button type="submit">Add Task</button>
            </form>
        </div>
    </section>
{% endblock %}



