{% extends 'base_login.html' %}

{% load static %}

{% block title %}
    Forgot Password
{% endblock %}

{% block head %}
    <script defer>
        $(window).on("load", () => {
            $("#form").on("submit", function (event) {
                event.preventDefault()
                console.log("Redirecting to /login/")
                window.location.href = "/login/"
            })
        })
    </script>
{% endblock %}

{% block form-title %}
    Forgot Password
{% endblock %}

{% block form-content %}
    <div class="inputBox">
        <input type="text" id="username" autocomplete="username" required> <label for="username">Username</label>
    </div>

    <div class="links">
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
    </div>
{% endblock %}

{% block form-submit-label %}Forgot Password{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'base_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">

    <script src="{% static 'base_js/sidebar.js' %}" defer></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script defer>
        $(window).on("load", () => {
            $("#forgot-password-form").on("submit", function (event) {
                event.preventDefault()
                console.log("Redirecting to /login/")
                window.location.href = "/login/"
            })
        })
    </script>
</head>
<body>
    <section>
        <div class="signin">
            <div class="content">
                <h2>MAKE-IT-ALL</h2>
                <form class="form" id="forgot-password-form">
                    <div class="inputBox">
                        <input type="text" id="username" autocomplete="username" required> <label for="username">Username</label>
                    </div>

                    <div class="links">
                        <a href="/login/">Login</a>
                        <a href="/signup/">Signup</a>
                    </div>

                    <div class="inputBox">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>