<!-- Modal - Icon Meanings -->
<div class="modal-background" data-hidden="true">
    <div class="modal" id="modal-icon-meaning">
        <header>
            <h3>Status Icon Meanings:</h3>
            <button type="button" class="close-modal"><i class="bx bx-x"></i></button>
        </header>

        <div class="icon-meaning">
            <div class="status">
                <i class="bx bx-alarm-exclamation"></i>
            </div>

            <p>-</p>

            <p>Project/Task is Overdue</p>
        </div>

        <div class="icon-meaning">
            <div class="status">
                <i class="bx bx-check-circle"></i>
            </div>

            <p>-</p>

            <p>Project/Task is <b>Complete</b></p>
        </div>

        <div class="icon-meaning">
            <div class="status">
                <i class="bx bx-pause-circle"></i>
            </div>

            <p>-</p>

            <p>Project/Task is <b>Paused</b> (temporarily halted)</p>
        </div>

        <div class="icon-meaning">
            <div class="status">
                <i class="bx bx-refresh"></i>
            </div>

            <p>-</p>

            <p>Project/Task is <b>Ongoing</b> (being worked on)</p>
        </div>

        <div class="icon-meaning">
            <div class="status">
                <i class="bx bx-dots-horizontal-rounded"></i>
            </div>

            <p>-</p>

            <p>Project/Task has <b>Not Started</b></p>
        </div>
    </div>
</div>